exercises/connect/canonical-data.json
exercises/diamond/canonical-data.json
exercises/dominoes/canonical-data.json
exercises/flatten-array/canonical-data.json
exercises/forth/canonical-data.json
exercises/go-counting/canonical-data.json
exercises/minesweeper/canonical-data.json
exercises/ocr-numbers/canonical-data.json
exercises/rectangles/canonical-data.json
exercises/saddle-points/canonical-data.json
exercises/scale-generator/canonical-data.json
exercises/sieve/canonical-data.json
exercises/transpose/canonical-data.json
exercises/word-search/canonical-data.json
