exercises/allergies/canonical-data.json
exercises/book-store/canonical-data.json
exercises/bowling/canonical-data.json
exercises/change/canonical-data.json
exercises/connect/canonical-data.json
exercises/diamond/canonical-data.json
exercises/dominoes/canonical-data.json
exercises/flatten-array/canonical-data.json
exercises/forth/canonical-data.json
exercises/go-counting/canonical-data.json
exercises/grep/canonical-data.json
exercises/house/canonical-data.json
exercises/kindergarten-garden/canonical-data.json
exercises/knapsack/canonical-data.json
exercises/markdown/canonical-data.json
exercises/minesweeper/canonical-data.json
exercises/ocr-numbers/canonical-data.json
exercises/pascals-triangle/canonical-data.json
exercises/poker/canonical-data.json
exercises/pov/canonical-data.json
exercises/pythagorean-triplet/canonical-data.json
exercises/rectangles/canonical-data.json
exercises/reverse-string/canonical-data.json
exercises/roman-numerals/canonical-data.json
exercises/rotational-cipher/canonical-data.json
exercises/saddle-points/canonical-data.json
exercises/scale-generator/canonical-data.json
exercises/sieve/canonical-data.json
exercises/spiral-matrix/canonical-data.json
exercises/tournament/canonical-data.json
exercises/transpose/canonical-data.json
exercises/variable-length-quantity/canonical-data.json
exercises/word-search/canonical-data.json
